.ContactSection {
    height: 100vh;
}

.center-div-contacts {
    text-align: center;
    margin-top: 50vh;
}

.center-div-contacts h3,
.center-div-contacts p {
    color: var(--color2);
    font-size: 3vh;
}